

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body">

            <form class="layui-form">
                <blockquote class="layui-elem-quote quoteBox">
                    <form class="layui-form">
                        <div class="layui-inline">
                            <a class="layui-btn layuiadmin-btn-permission layui-btn-normal" data-type="add">添加</a>
                        </div>
                        {{/*<div class="layui-inline">*/}}
                            {{/*<a class="layui-btn layui-btn-warm layui-btn-normal edit_btn">编辑</a>*/}}
                        {{/*</div>*/}}
                        {{/*<div class="layui-inline">*/}}
                            {{/*<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">删除</a>*/}}
                        {{/*</div>*/}}
                    </form>
                </blockquote>
                <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
            </form>


            <script type="text/html" id="table-permission-options">
                <a class="layui-btn layuiadmin-btn-permission layui-btn-normal edit_btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layuiadmin-btn-permission layui-btn-danger del_btn layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base : "/static/layuiadmin/"
    }).extend({
        index: 'lib/index', //主入口模块
        treetable : "/modules/treetable/treetable",
    });
    layui.use(['form', 'table', 'treetable'], function () {

        var $ = layui.$
                , form = layui.form
                , table = layui.table
                , treetable = layui.treetable;
        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'Id',
            treePidName: 'Pid',
            elem: '#auth-table',
            url: '/auth/permissionlistapi.html',
            page: false,
            id: 'permissionListTable',
            cols: [[
                {type: "checkbox", fixed:"left", width:50},
                {field: 'Title', minWidth: 100, title: '权限名称'},
                {
                    field: 'Level', width: 200, align: 'center', templet: function (d) {
                        if(d.Level === 1){
                            return '<span class="layui-badge">顶级应用</span>';
                        }else if (d.Level === 2) {
                            return '<span class="layui-badge layui-bg-green">模块</span>';
                        }else if (d.Level === 3) {
                            return '<span class="layui-badge-rim">控制器/方法</span>';
                        }else {
                            return '<span class="layui-badge layui-bg-gray">未知类型</span>';
                        }
                    }, title: '权限类型'
                },
                {field: 'Route', minWidth: 100, title: '路由'},
                {
                    field: 'IsShow', width: 200, align: 'center', templet: function (d) {
                        if (d.IsShow === 1) {
                            return '<span class="layui-badge layui-bg-green">展示</span>';
                        } else {
                            return '<span class="layui-badge layui-bg-gray">不展示</span>';
                        }
                    }, title: '展示状态'
                },
                {
                    field: 'Status', width: 200, align: 'center', templet: function (d) {
                        if (d.Status === 1) {
                            return '<span class="layui-badge layui-bg-green">启用</span>';
                        } else {
                            return '<span class="layui-badge layui-bg-gray">禁用</span>';
                        }
                    }, title: '权限状态'
                },
                {
                    title: "操作",
                    width: 150,
                    align: "center",
                    fixed: "right",
                    toolbar: "#table-permission-options"
                }
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        // 事件
        var active = {

            addPermission : function (edit) {
                var title = edit===null?"添加权限":"编辑权限";

                layer.open({
                    type: 2
                    , title: title
                    , content: '/auth/permission.html'
                    , area: ['500px', '480px']
                    , btn: ['确定', '取消']
                    , success : function(layero, index){
                        var body = layui.layer.getChildFrame('body', index);
                        if(edit){
                            body.find("#id").val(edit.Id);
                            body.find(".title").val(edit.Title);
                            body.find("#level").val(edit.Level);
                            body.find("#pid").val(edit.Pid);
                            body.find("#route").val(edit.Route);
                            body.find("[name='is_show']").val(edit.IsShow);
                            body.find("[name='status']").val(edit.Status);
                            form.render();
                        }
                    }
                    , yes: function (index, layero) {


                        var iframeWindow = window['layui-layer-iframe' + index]
                                , submit = layero.find('iframe').contents().find("#addPermission");

                        //监听提交
                        iframeWindow.layui.form.on('submit(addPermission)', function (data) {
                            var field = data.field; //获取提交的字段

                            //弹出loading
                            // var loading = top.layer.msg('数据保存中，请稍候...',{icon: 16,time:false,shade:0.8});

                            //执行 Ajax 后重载
                            $.ajax({
                                url: '/auth/permissionsave.html'
                                , type: 'POST'
                                , data: field
                                , async: false
                                , dataType: 'json'
                                , success: function (response) {

                                    console.log(response)
                                    if (response.code == 200) {
                                        layer.alert(response.message, function () {
                                            location.reload()
                                        });
                                        layer.close(index); //关闭弹层
                                    } else {
                                        layer.alert(response.message);
                                    }
                                }
                                , error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log('XMLHttpRequest.status:' + XMLHttpRequest.status + ' XMLHttpRequest.readyState:' + XMLHttpRequest.readyState);
                                    layer.alert(textStatus);
                                }
                            });

                            return false;
                        });

                        submit.trigger('click');
                    }
                });
            },

            add : function () {
                active['addPermission'].call(this);
            },

            edit : function () {

                var data = table.cache['permissionListTable'],
                        index = $(this).parents("tr").index();

                console.log(data[index]);

                if (data[index] != undefined) {
                    active['addPermission'](data[index]);
                } else {
                    layer.msg("请选择需要修改的权限");
                }

            },

            del : function () {

                var data = table.cache['permissionListTable'],
                        trIndex = $(this).parents("tr").index();

                layer.confirm('确定删除选中的权限？', {icon: 3, title: '提示信息'}, function (index) {
                    $.ajax({
                        url: "/auth/permissiondel",
                        type: "post",
                        data: {id: data[trIndex].Id},
                        async: false,
                        dataType: 'json',
                        success: function(res){
                            layer.close(index);
                            if (res.code == 200){
                                layer.alert(res.message, function () {
                                    location.reload()
                                });
                            } else {
                                layer.msg(res.msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(textStatus);
                            layer.close(index);
                        }
                    });
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-permission').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        // 编辑
        $(document).on("click",".edit_btn", function () {

            active['edit'].call(this)
        });

        // 删除
        $(document).on("click",".del_btn", function () {

            active['del'].call(this)
        });

        //批量删除
        // $(".delAll_btn").click(function(){
        //     var checkStatus = table.checkStatus('permissionListTable'),
        //             data = checkStatus.data,
        //             idArr = [];
        //     if(data.length > 0) {
        //         for (var i in data) {
        //             if(data.length>1&&data[i].resourceType!=="button"){
        //                 layer.msg("抱歉，只支持批量删除按钮！");
        //                 return;
        //             }
        //             idArr.push(data[i].id);
        //         }
        //         layer.confirm('确定删除选中的权限？', {icon: 3, title: '提示信息'}, function (index) {
        //             $.ajax({
        //                 url: "/permission/delBatch",
        //                 type: "post",
        //                 data: {idArr : idArr.toString()},
        //                 success: function(res){
        //                     layer.close(index);
        //                     if (res.data){
        //                         layer.msg("删除成功！");
        //                     } else {
        //                         layer.msg(res.msg);
        //                     }
        //                 },
        //                 error: function (xmlHttpRequest) {
        //                     layer.close(index);
        //                 }
        //             });
        //             setTimeout(function(){
        //                 location.reload();//刷新页面
        //             },1500);
        //         });
        //     }else{
        //         layer.msg("请选择需要删除的权限");
        //     }
        // });

    });

</script>
</body>
</html>

